<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Evolved Portfolio Management (EPM){% endblock %}</title>
</head>
<body>
<div id="top-navigation" style="background-color: azure">
   <h3>navbar</h3>
</div>
    {% block content %}

    {% endblock %}

</body>
</html>