{% extends 'epmcollect/base_generic.html' %}

{% block content %}

    <h3>Components to submit as BICC return</h3>

    <h4>{{ project }}</h4>


    <table>
        <tr>
            <th>Assessment</th>
            <th>Summary</th>
            <th>Commentary</th>
            <th>Action</th>
        </tr>
        {% for component in ungranted_assessments %}
            <tr>
                <td>{{ component.id }}</td>
                <td>{{ component.rag }}</td>
                <td>{{ component.overall_commentary }}</td>
                <td><a href="#">edit</a></td>
            </tr>
            {% if ungranted_assessments %}
                <form action="/epmcollect/bicc_returns/new/" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="project_id" name="project_id" value="{{ project.id }}">
                    <input type="hidden" id="dca_id" name="dca_id" value="{{ component.id }}">
                    <input type="hidden" id="TEST" name="TEST" value="TEST">
                    <input type="submit" value="Submit BICC Return">
                </form>
            {% else %}
                <p>There are no unsubmitted assessments</p>
            {% endif %}
        {% endfor %}
    </table>




{% endblock %}
