{% extends 'epmcollect/base_generic.html' %}

{% block content %}

    <h1>BICC Returns</h1>

    <table>
    <tr>
       <th>Delivery Confidence Assessments</th>
    </tr>
    {% for bicc_return in bicc_returns %}
        <tr>
        <td>{{ bicc_return.sro_delivery_confidence_rag.date_assessed }}: <a href="{% url 'epmcollect:bicc_return' bicc_return.id %}">{{ bicc_return.sro_delivery_confidence_rag }}</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}