{% extends 'epmcollect/base_generic.html' %}

{% block content %}

    <h1>BICC Return Data</h1>

    <h2>{{ bicc_return.sro_delivery_confidence_rag.project }}</h2>

    <h3>{{ bicc_return.sro_delivery_confidence_rag.quarter }}</h3>

    <h4>Delivery Confidence Assessment</h4>

    <p>{{ bicc_return.sro_delivery_confidence_rag.rag }}</p>

{% endblock %}