{% extends 'epmcollect/base_generic.html' %}

{% block content %}

    <h1>Welcome to EPM!</h1>

    <p>Welcome {{ user }}</p>

    <div id="project-list">
    <h3>Projects owned by {{ user }}</h3>
        <table id="project-list-table">
            <tr>
                <th>Project</th>
            </tr>
            {% for project in owned_projects %}
                <tr>
                    <td><a href="{% url 'epmcollect:single_project' project.id %}">{{ project.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}