{% extends 'epmcollect/base_generic.html' %}

{% block content %}

<h1>Projects</h1>

<table>
    <tr>
        <th>Project Name</th>
        <th>Project SRO</th>
        <th>Project RAG Rating</th>
    </tr>
    {% for project in all_projects %}
    <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.sro }}</td>
        <td>{{ project.sro_rating }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
