{% extends 'epmcollect/base_generic.html' %}

{% block content %}

    <h1>{{ project_data.name }}</h1>

    <div style="float: left; background-color: lavender; border: double black; clear: both; padding: 10px; width: 800px;">
        <table id="project-details-table">
            <tr>
                <th>Project name</th>
                <th>Portfolio</th>
                <th>SRO</th>
                <th>Current SRO rating</th>
            </tr>
            <tr>
                <td>{{ project_data.name }}</td>
                <td>
                    {% for portfolio in project_data.portfolios.all %}
                        {{ portfolio.name }}
                    {% endfor %}
                </td>
                <td>{{ project_data.sro }}</td>
                <td>{{ project_data.sro_rating }}</td>
            </tr>
        </table>
    </div>



    <div style="float: left; background-color: azure; border: double black; clear: both; padding: 10px; width: 800px">
        <h3>Next BICC return</h3>
        <table style="border: 1px solid black; width: 100%;">
            <tr>
                <td><strong>Quarter:</strong></td>
                <td>Q1/2016</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Due:</strong></td>
                <td>27-07-16</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Status:</strong></td>
                <td style="color: red;">INCOMPLETE</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Portfolio submissions:</strong></td>
                <td>28 of 40 projects have submitted</td>
                <td>
                    <a href="{% url 'epmcollect:bicc_pre_submit_summary' project_data.id %}">Submit BICC Return</a>
                </td>
            </tr>
        </table>
    </div>

    <div style="background-color: azure; border: double black; clear: both; float: left; padding: 10px; width: 800px;">
        <h4>BICC Return Component Status</h4>
        <table style="border: 1px solid black; width: 100%;">
            <tr>
                <th>Component</th>
                <th>Status</th>
                <th>Edit link</th>
            </tr>
            <tr>
                <td>Delivery Capability Assessment</td>
                <td style="color: green;">VERIFIED</td>
                <td><a href="{% url 'epmcollect:dca-add' project_data.id %}">link to DCA form</a></td>
            </tr>
            <tr>
                <td>Finance Capability Assessment</td>
                <td style="color: red;">INCOMPLETE</td>
                <td><a href="#">link to FCA form</a></td>
            </tr>
            <tr>
                <td>Benefits Capability Assessment</td>
                <td style="color: red;">INCOMPLETE</td>
                <td><a href="#">link to BCA form</a></td>
            </tr>
        </table>
    </div>

    <div style="float: left; background-color: azure; border: double black; clear: both; padding: 10px; width: 800px; ">
        <h3>Previous BICC Returns for this Project</h3>
        <table style="border: 1px solid black; width: 100%;">
            <tr>
                <th>Quarter</th>
                <th>Date Submitted</th>
                <th>Summary</th>
            </tr>
            <tr>
                <td>Q4/2015</td>
                <td>20-06-16</td>
                <td><a href="#">link to BICC Return summary</a></td>
            </tr>
            <tr>
                <td>Q3/2015</td>
                <td>20-03-16</td>
                <td><a href="#">link to BICC Return summary</a></td>
            </tr>
            <tr>
                <td>...etc</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

{% endblock %}




