{% extends 'epmcollect/base_generic.html' %}

{% block content %}
<h1>Thanks!</h1>

<p>Thanks for submitting your form, or whatever you did.</p>

<p><a href="{% url 'epmcollect:index' %}">Back home</a></p>
{% endblock %}