{% extends 'epmcollect/base_generic.html' %}
{% block title %}Add a new Delivery Confidence Assessment{% endblock %}

{% block content %}

    <h3>Add new Delivery Confidence Assessment</h3>

    <h4>Project: {{ project }}</h4>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
